numpy>=1.24.3
numba>=0.57.0
pandas>=1.5.3
pvlib>=0.9.5
pytest>=7.3.1
pytest-cov>=4.0.0
python-dateutil>=2.8.2 
pytz>=2023.3
NREL-rex>=0.2.8
NREL-gaps>=0.3.2
photovoltaic>=0.1.9
scipy>=1.10.1
openpyxl>=3.1.2
tqdm>=4.65.0
matplotlib
jupyterlab
notebook
sphinx_rtd_theme