numpy
numba
pandas
pvlib @ git+https://github.com/pvlib/pvlib-python.git@ef4e31b0caa005c367cb20a6eda4e3b79f963dfe
pytest
pytest-cov
python-dateutil
pytz
NREL-rex
NREL-gaps
photovoltaic
scipy
openpyxl
tqdm
matplotlib
jupyterlab
notebook
sphinx_rtd_theme
