name: flake8

on: [pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.12]

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install flake8
      run: |
        python -m pip install --upgrade pip
        pip install flake8==5.0.4  # use this version for --diff option
    - name: Fetch PR target branch
      run: |
        git fetch origin $GITHUB_BASE_REF
    - name: Setup Flake8 output matcher for PR annotations
      run: echo '::add-matcher::.github/workflows/flake8-linter-matcher.json'
    - name: Run flake8 on changed files only
      run: |
        git diff origin/$GITHUB_BASE_REF HEAD -- "*.py" | flake8 --config=.flake8 --diff
